@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  
}
html, body {
    margin: 0px;
    padding: 0px;
}
h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left:20px;
}
code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    display: block;
}
.controlButton {
    background-color: #ff6b00;
    color: rgb(255, 255, 255);
    border: solid 1px #333;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 3px;
    font-size: 16px;
    box-sizing: border-box;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.controlButton:hover {
    background-color: #cc5500;
}
.inputDiv{
padding: 10px;
    background-color: #f5f5f5;
}
.outputDiv{
    position: absolute; 
    bottom: 0; 
    width: 100vw; 
    height: 50vh;
    border-top: solid 1px #ccc;
    background-color: #ffd4a2;
    padding: 10px;
}
.structItemContainer {
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 2px;
    display: inline-block;
    background-color: #ff9500;
    color: #333;
    font-size: 14px;
    box-sizing: border-box;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.structKey {
    font-weight: bold;
    color: #8b4513;
}
.structValue {
    color: #333;
}


